<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!--<meta charset="utf-8">-->
    <th:block th:include="include :: header('会员信息')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>

<body>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <!--检索栏-->
            <div class="col-sm-12 search-collapse">
                <form id="member_search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                会员ID：<input type="text" name="memberId"/>
                            </li>
                            <li>
                                手机号码：<input type="text" name="mobileNo"/>
                            </li>
                            <li>
                                会员姓名：<input type="text" name="memberName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset(null, member_search_form)"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 操作栏 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" >
                    <i class="fa fa-plus"></i> 新增会员
                </a>
                <a class="btn btn-primary ">
                    <i class="fa fa-edit"></i> 散客消费
                </a>
                <a class="btn btn-warning ">
                    <i class="fa fa-remove"></i> 会员退费
                </a>
            </div>

            <!--表格-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>


<!--行数据操作栏-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="recharge">充值</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="rechargeTimes">充次</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="consumption">消费</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove">删除</a>
</script>

<!--只读查看会员信息表单-->
<form id="read-only-member-form" lay-filter="read-only-member-form" class="layui-form layui-form-pane" action=""
      style="display:none;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="color: coral; font-weight: bold; ">会员信息</legend>
    </fieldset>
    <div class="mainBox" style="margin-left: 20px;">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <input type="hidden" id="read_id" name="id">
                    <!--                    <input type="hidden" name="version">-->
                </div>

                <div class="layui-folayui-inlinerm-item">
                    <div class="">
                        <label class="layui-form-label required" title="姓名">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="name" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label required" title="手机">手机</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="mobile" lay-verify="required" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label required" title="性别">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="男" title="男" checked="">
                            <input type="radio" name="sex" value="女" title="女">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item"></div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" title="生日">生日</label>
                        <div class="layui-input-block">
                            <input type="text" name="birthday" id="read_birthday" lay-verify="birthday"
                                   placeholder="年-月-日" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" title="邮箱">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="mail" lay-verify="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label required" title="会员类型">会员类型</label>
                        <div class="layui-input-block">
                            <select name="memberType" lay-verify="" lay-search="">
                                <option value="普通会员">普通会员</option>
                                <option value="黄金会员">黄金会员</option>
                                <option value="白金会员">白金会员</option>
                                <option value="钻石会员">钻石会员</option>
                                <option value="至尊会员">至尊会员</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item"></div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" title="会员积分">会员积分</label>
                        <div class="layui-input-block">
                            <input type="number" name="integral" lay-verify="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" title="地址">住址</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="address" lay-verify="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" title="客户经理">客户经理</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="accountManager" lay-verify="" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item"></div>

                <div class="layui-form-item">
                    <label class="layui-form-label" title="客户画像标签">客户画像标签</label>
                    <div class="layui-input-block">
                        <input type="text" maxlength="1024" name="label" lay-verify="" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    墨绿分割线  充值记录-->
    <hr class="layui-border-green">

    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">充值记录</li>
            <li>金额消费记录</li>
            <li>充次记录</li>
            <li>计次消费记录</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show"><!--充值记录-->
                <div class="layui-tab-item layui-show" id="rechargeRecord">
                    <table id="recharge-record-table" lay-filter="rechargeRecordTable"></table>
                </div>
            </div>
            <div class="layui-tab-item"><!--金额消费列表-->
                <div class="layui-tab-item layui-show" id="consumptionRecord">
                    <table id="consumption-records-table" lay-filter="rechargeRecordsTable"></table>
                </div>
            </div>
            <div class="layui-tab-item"><!--充次记录-->
                <div class="layui-tab-item layui-show" id="rechargeTimesTable">
                    <table id="recharge-times-table" lay-filter="rechargeRecordsTable"></table>
                </div>
            </div>
            <div class="layui-tab-item"><!--计次消费列表-->
                <div class="layui-tab-item layui-show" id="consumptionTimes">
                    <table id="consumption-times-table" lay-filter="rechargeRecordsTable"></table>
                </div>
            </div>
        </div>
    </div>
</form>


<!--会员充值弹窗-->
<form id="recharge-record-form" lay-filter="recharge-record-form" class="layui-form" action="" style="display:none;">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <input type="hidden" id="rechargeRecordFormId" name="rechargeRecordFormId">
                    <div class="layui-form-item" style="margin-top: 15px;">
                        <div class="layui-inline">
                            <label class="layui-form-label" title="会员ID">会员ID</label>
                            <div class="layui-input-inline">
                                <input type="number" name="memberId" id="rechargeMemberId" lay-verify=""
                                       class="layui-input readonly"
                                       readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" title="会员姓名">会员姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="memberName" id="rechargeMemberName" lay-verify=""
                                       class="layui-input readonly"
                                       readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" title="操作人">操作人</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="255" name="operators" id="rechargeOperators" lay-verify=""
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充值金额">充值金额</label>
                        <div class="layui-input-inline">
                            <input type="number" name="amount" id="rechargeAmount" autocomplete="off"
                                   lay-verify="required"
                                   lay-reqtext="充值金额必填，岂能为空？" placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" title="赠送金额">赠送金额</label>
                        <div class="layui-input-inline">
                            <input type="number" name="giftAmount" id="rechargeGiftAmount" autocomplete="off"
                                   lay-verify="" placeholder="请输入"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充值方式">充值方式</label>
                        <div class="layui-inline">
                            <input type="radio" name="rechargeType" value="支付宝" title="支付宝" checked>
                            <img th:src="@{/img/alipay.jpg}">
                            <input type="radio" name="rechargeType" value="微信" title="微信">
                            <img th:src="@{/img/wechatpay.jpg}">
                            <input type="radio" name="rechargeType" value="现金/刷卡" title="现金/刷卡">
                            <img th:src="@{/img/unionpay.jpg}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom" style="display: none">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="recharge-record-form">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" id="rechargeRecordFormReset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<!--会员充次弹窗-->
<form id="recharge-times-form" lay-filter="recharge-times-form" class="layui-form" action="" style="display:none;">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <input type="hidden" id="rechargeTimeFormId" name="rechargeTimesFormId">
                    <div class="layui-form-item" style="margin-top: 15px;">
                        <div class="layui-inline">
                            <label class="layui-form-label" title="会员ID">会员ID</label>
                            <div class="layui-input-inline">
                                <input type="number" name="memberId" id="rechargeTimesMemberId" lay-verify=""
                                       class="layui-input readonly"
                                       readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" title="会员姓名">会员姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="memberName" id="rechargeTimesMemberName" lay-verify=""
                                       class="layui-input readonly"
                                       readonly="readonly">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" title="操作人">操作人</label>
                            <div class="layui-input-block">
                                <input type="text" maxlength="255" name="operators" id="rechargeTimesOperators"
                                       lay-verify=""
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label required" title="活动名称">活动名称</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="activityName" id="activityName"
                                   lay-verify="required"
                                   lay-reqtext="活动名称必填，岂能为空？" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充值金额">充值金额</label>
                        <div class="layui-input-inline">
                            <input type="number" name="amount" id="rechargeTimesAmount" autocomplete="off"
                                   lay-verify="required"
                                   lay-reqtext="充值金额必填，岂能为空？" placeholder="请输入" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充值次数">充值次数</label>
                        <div class="layui-input-inline">
                            <input type="number" name="remainingTimes" id="rechargeTimes" autocomplete="off"
                                   lay-verify="required" lay-reqtext="充值次数必填，岂能为空？" placeholder="请输入"
                                   class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充值方式">充值方式</label>
                        <div class="layui-inline">
                            <input type="radio" name="rechargeType" value="支付宝" title="支付宝" checked>
                            <img th:src="@{/img/alipay.jpg}">
                            <input type="radio" name="rechargeType" value="微信" title="微信">
                            <img th:src="@{/img/wechatpay.jpg}">
                            <input type="radio" name="rechargeType" value="现金/刷卡" title="现金/刷卡">
                            <img th:src="@{/img/unionpay.jpg}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom" style="display: none">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="recharge-times-form">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" id="rechargeTimesFormReset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<!--会员消费弹窗-->
<form id="consumption-records-form" lay-filter="consumption-records-form" class="layui-form" action=""
      style="display:none;">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="hidden" id="consumptionRecordFormId" name="rechargeRecordFormId">
                <div class="layui-form-item" style="margin-top: 15px;">
                    <div class="layui-inline">
                        <label class="layui-form-label" title="会员ID">会员ID</label>
                        <div class="layui-input-inline">
                            <input type="number" name="memberId" id="consumptionMemberId" class="layui-input readonly"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" title="会员姓名">会员姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="memberName" id="consumptionMemberName"
                                   class="layui-input readonly"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" title="操作人">操作人</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="operators" id="consumptionOperators"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" title="消费方式">消费方式</label>
                        <div class="layui-inline">
                            <input type="radio" name="type" value="金额消费" title="金额消费"
                                   lay-filter="consumptionType" checked="">
                            <input type="radio" name="type" value="计次消费" title="计次消费"
                                   lay-filter="consumptionType">
                        </div>
                    </div>
                </div>

                <!--计次消费div-->
                <div class="layui-form-item" id="timesDiv" style="display: none">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="充次记录">充次记录</label>
                        <div class="layui-input-inline">
                            <select id="rechargeId" name="rechargeId" lay-verify="">
                                <option value="">请选择需要计次的记录</option>
                            </select>
                            <!--                            <input type="number" name="rechargeId" class="layui-input" lay-verify="required"-->
                            <!--                                   lay-reqtext="计次活动必填，岂能为空？">-->
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="消费次数">消费次数</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="times" id="times" lay-verify=""
                                   lay-reqtext="消费次数必填，岂能为空？" class="layui-input">
                        </div>
                    </div>
                </div>

                <!--金额消费div-->
                <div class="layui-form-item" id="moneyDiv">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="消费金额(充值)">消费金额</label>
                        <div class="layui-input-inline">
                            <input type="number" name="amount" class="layui-input" lay-verify=""
                                   lay-reqtext="消费金额必填，岂能为空？">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="消费项目">消费项目</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="items" id="items" lay-verify="required"
                                   lay-reqtext="消费项目必填，岂能为空？" class="layui-input" style="width: 840px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
            </div>

            <div class="layui-input-block" id="item_checkbox">
            </div>
        </div>
    </div>
    <div class="bottom" style="display: none">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="consumption-records-form">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" id="consumptionRecordsFormReset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<!--散客进店消费弹窗-->
<form id="fit-consumption-records-form" lay-filter="fit-consumption-records-form" class="layui-form" action=""
      style="display:none;">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <input type="hidden" id="fit_consumptionRecordFormId" name="rechargeRecordFormId">
                <div class="layui-form-item" style="margin-top: 15px;">
                    <div class="layui-inline">
                        <label class="layui-form-label" title="会员ID">会员ID</label>
                        <div class="layui-input-inline">
                            <input type="number" name="memberId" id="fitConsumptionMemberId"
                                   class="layui-input readonly"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" title="会员姓名">散客描述</label>
                        <div class="layui-input-inline">
                            <input type="text" name="memberName" id="fitConsumptionMemberName"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" title="进店渠道">进店渠道</label>
                        <div class="layui-input-inline">
                            <select name="fitEntryChannels" id="fitEntryChannels">
                                <option value="自主到店">自主到店</option>
                                <option value="抖音">抖音</option>
                                <option value="美团">美团</option>
                                <option value="携程">携程</option>
                                <option value="飞猪">飞猪</option>
                                <option value="58同城">58同城</option>
                                <option value="公众号引流">公众号引流</option>
                                <option value="微信小程序引流">微信小程序引流</option>
                                <option value="线下广告引流">线下广告引流</option>
                                <option value="线上活动引流">线上活动引流</option>
                                <option value="转介绍">转介绍</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="消费金额(充值)">消费金额</label>
                        <div class="layui-input-inline">
                            <input type="number" name="amount" class="layui-input" lay-verify="required"
                                   lay-reqtext="消费金额必填，岂能为空？">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label required" title="消费项目">消费项目</label>
                        <div class="layui-input-block">
                            <input type="text" maxlength="255" name="items" id="fitItems" lay-verify="required"
                                   lay-reqtext="消费项目必填，岂能为空？" class="layui-input" style="width: 505px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
            </div>

            <div class="layui-input-block" id="fit_item_checkbox">
            </div>
        </div>
    </div>
    <div class="bottom" style="display: none">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit=""
                    lay-filter="fit-consumption-records-form">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" id="fit_consumptionRecordsFormReset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<script th:inline="javascript">
    var prefix = ctx + "salon/member";
    /*var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];*/

    var editFlag = [['']];
    var removeFlag = [['']];
    var resetPwdFlag = [['']];

    $(function (){
        queryMemberList();
    });

    function queryMemberList() {
        var options = {
            url: prefix + "/list",
            viewUrl: prefix + "/view/{id}",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
           // sortName: "createTime",
           // sortOrder: "desc",
            modalName: "会员",
            columns: [{
                checkbox: true
            },
                {
                    field: 'memberId',
                    title: '会员ID'
                },
                {
                    field: 'memberName',
                    title: '名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="$.operate.view(\'' + row.memberId + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'email',
                    title: '邮箱',
                    visible: false
                },
                {
                    field: 'mobileNo',
                    title: '手机号码'
                },
                {
                    field: 'rechargeBalance',
                    title: '充值余额'
                },
                {
                    field: 'giveBalance',
                    title: '赠送余额'
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'level',
                    title: '会员等级'
                },
                {
                    field: 'label',
                    title: '标签'
                },
                {
                    field: 'introducer',
                    title: '介绍人'
                },
                {
                    field: 'remark',
                    title: '备注',

                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        if (row.userId != 1) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.userId + '\')"><i class="fa fa-edit"></i>充值</a> ');
                            actions.push('<a class="btn btn-primary btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-edit"></i>充次</a> ');
                            actions.push('<a class="btn btn-info btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-edit"></i>消费</a> ');

                            var more = [];
                            more.push("<a class='btn btn-success btn-xs " + editFlag + "' href='javascript:void(0)' onclick='$.operate.editTab(" + row.memberId + ")'><i class='fa fa-edit'></i>编辑</a> ");
                            more.push("<a class='btn btn-danger btn-xs " + removeFlag + "' href='javascript:void(0)' onclick='$.operate.remove(" + row.memberId + ")'><i class='fa fa-remove'></i>删除</a> ");
                           // more.push("<a class='btn btn-default btn-xs " + resetPwdFlag + "' href='javascript:void(0)' onclick='resetPwd(" + row.userId + ")'><i class='fa fa-key'></i>重置密码</a> ");
                          //  more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='authRole(" + row.userId + ")'><i class='fa fa-check-square-o'></i>分配角色</a>");
                            actions.push('<a tabindex="0" class="btn btn-warning btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                            return actions.join('');
                        } else {
                            return "";
                        }
                    }
                }]
        };
        $.table.init(options);
    }
</script>
</body>
</html>
