<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!--<meta charset="utf-8">-->
    <th:block th:include="include :: header('会员信息')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>

<body>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <!--检索栏-->
            <div class="col-sm-12 search-collapse">
                <form id="member_search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                会员ID：<input type="text" name="memberId"/>
                            </li>
                            <li>
                                手机号码：<input type="text" name="mobileNo"/>
                            </li>
                            <li>
                                会员姓名：<input type="text" name="memberName"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm"
                                   onclick="$.form.reset(null, member_search_form)"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- 操作栏 -->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()">
                    <i class="fa fa-plus"></i> 新增会员
                </a>
                <a class="btn btn-primary" onclick="nonMemberConsume()">
                    <i class="fa fa-edit"></i> 散客消费
                </a>
                <a class="btn btn-warning ">
                    <i class="fa fa-remove"></i> 会员退费
                </a>
            </div>

            <!--表格-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var prefix = ctx + "salon/member";
    /*var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];*/

    var editFlag = [['']];
    var removeFlag = [['']];
    var resetPwdFlag = [['']];

    $(function () {
        queryMemberList();
    });

    function queryMemberList() {
        var options = {
            url: prefix + "/list",
            viewUrl: prefix + "/view/{id}",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            // sortName: "createTime",
            // sortOrder: "desc",
            modalName: "会员",
            columns: [{
                checkbox: true
            },
                {
                    field: 'memberId',
                    title: '会员ID'
                },
                {
                    field: 'memberName',
                    title: '名称',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)" onclick="$.operate.view(\'' + row.memberId + '\')">' + value + '</a>';
                    }
                },
                {
                    field: 'email',
                    title: '邮箱',
                    visible: false
                },
                {
                    field: 'mobileNo',
                    title: '手机号码'
                },
                {
                    field: 'rechargeBalance',
                    title: '充值余额'
                },
                {
                    field: 'giveBalance',
                    title: '赠送余额'
                },
                {
                    field: 'integral',
                    title: '积分'
                },
                {
                    field: 'level',
                    title: '会员等级'
                },
                {
                    field: 'label',
                    title: '标签'
                },
                {
                    field: 'introducer',
                    title: '介绍人'
                },
                {
                    field: 'remark',
                    title: '备注',

                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="balanceRecharge(\'' + row.memberId + '\')"><i class="fa fa-edit"></i>充值</a> ');
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="timesRecharge(\'' + row.memberId + '\')"><i class="fa fa-edit"></i>充次</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="consume(\'' + row.memberId + '\')"><i class="fa fa-edit"></i>消费</a> ');

                        var more = [];
                        more.push("<a class='btn btn-success btn-xs " + editFlag + "' href='javascript:void(0)' onclick='$.operate.editTab(" + row.memberId + ")'><i class='fa fa-edit'></i>编辑</a> ");
                        more.push("<a class='btn btn-danger btn-xs " + removeFlag + "' href='javascript:void(0)' onclick='$.operate.remove(" + row.memberId + ")'><i class='fa fa-remove'></i>删除</a> ");
                        // more.push("<a class='btn btn-default btn-xs " + resetPwdFlag + "' href='javascript:void(0)' onclick='resetPwd(" + row.userId + ")'><i class='fa fa-key'></i>重置密码</a> ");
                        //  more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='authRole(" + row.userId + ")'><i class='fa fa-check-square-o'></i>分配角色</a>");
                        actions.push('<a tabindex="0" class="btn btn-warning btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    }

    /**
     * 余额充值
     * @param memberId 会员编号
     */
    function balanceRecharge(memberId) {
        var url = prefix + '/balanceRecharge/' + memberId;
        $.modal.open("余额充值", url, '800', '550');
    }

    /**
     * 次数充值
     * @param memberId 会员编号
     */
    function timesRecharge(memberId) {
        var url = prefix + '/timesRecharge/' + memberId;
        $.modal.open("次数充值", url, '1100', '800');
    }

    /**
     * 消费
     * @param memberId 会员编号
     */
    function consume(memberId) {
        var url = prefix + '/consume/' + memberId;
        $.modal.popupRight("会员消费", url);
    }

    /**
     * 散客消费
     */
    function nonMemberConsume() {
        var url = prefix + '/nonMemberConsume';
        $.modal.popupRight('散客消费', url);
    }
</script>
</body>
</html>
