<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('次数充值')"/>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-times-recharge">
        <input name="memberId" type="hidden" th:field="${member.memberId}"/>
        <th:block th:include="~{salon/member/include_member :: memberInfo}" />
        <h4 class="form-header h4">项目信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">充值项目：</label>
                    <div class="col-sm-8">
                        <select name="itemId" id="itemId" onchange="itemSelect()" class="form-control m-b" required>
                            <option text="请选择" value="">请选择</option>
                            <option th:each="relVo : ${memberItemRels}" th:text="${relVo.itemName}"
                                    th:value="${relVo.itemId}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">项目价格：</label>
                    <div class="col-sm-8">
                        <p id="itemPrice" class="form-control-plaintext" text="0"> 请先选择项目！</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">折扣价格：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <p id="discountedPrice" class="form-control-plaintext" text="0">请先选择项目！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">剩余次数：</label>
                    <div class="col-sm-8">
                        <p id="originTimes" class="form-control-plaintext" text="0">请先选择项目！</p>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">充次信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">充值次数：</label>
                    <div class="col-sm-8">
                            <input name="rechargeTimes" class="form-control" type="number" min="1" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">支付方式：</label>
                    <div class="col-sm-8">
                        <select name="payMode" class="form-control m-b" th:with="type=${@dict.getType('salon_pay_mode')}">
                            <option text="请选择" value="">请选择</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">充值金额：</label>
                    <div class="col-sm-8">
                        <input name="rechargeAmount" class="form-control" type="number" min="0" value="0" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">赠送金额：</label>
                    <div class="col-sm-8">
                        <input name="giveAmount" class="form-control" type="number" min="0" value="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">充值时间：</label>
                    <div class="col-sm-8">
                        <input id="rechargeTime" name="rechargeTime" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">活动名称：</label>
                    <div class="col-sm-8">
                        <input name="activityName" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">备注：</label>
                    <div class="col-sm-8">
                        <textarea name="remark" maxlength="120" class="form-control" rows="3"
                                  placeholder="记录点什么吧！"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="form-header h4">赠送项目</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">赠送项目：</label>
                    <div class="col-xs-5">
                        <label th:each="rel:${memberItemRels}" class="check-box">
                            <label><input type="checkbox" th:value="${rel.itemId}" th:name="giveItemId" th:text="${rel.itemName}"> <i></i></label>
                            <input type="number" th:id="${'giveItemId' + rel.itemId}"  class="form-control"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i
                    class="fa fa-check"></i>保 存
            </button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="itemClose()"><i
                    class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
</div>

<div style="display: none">
    <input th:each="rel: ${memberItemRels}" type="hidden" th:id="${rel.itemId}" th:times="${rel.times + rel.giveTimes}"
           th:price="${rel.price}" th:discountedPrice="${rel.discountedPrice}"/>
</div>

</div>
<!-- <div class="row">
     <div class="col-sm-offset-5 col-sm-10">
         <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
         <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
     </div>
 </div>-->
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    let memberId = $('#memberId').val();

    $("#rechargeTime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        minView: 0,
        todayBtn: true,
        minuteStep: 3
    });

    function itemSelect() {
        let defaultMsg = '请先选择项目!';
        let itemId = $('#itemId').val();
        if (itemId == undefined || itemId == '') {
            $('#originTimes').html(defaultMsg);
            $('#itemPrice').html(defaultMsg);
            $('#discountedPrice').html(defaultMsg);
            return;
        }

        let itemElement = $('#' + itemId);
        let originTimes = itemElement.attr("times");
        $('#originTimes').html(originTimes);

        let price = itemElement.attr("price");
        $('#itemPrice').html(price);

        let discountedPrice = itemElement.attr("discountedPrice");
        $('#discountedPrice').html(discountedPrice);
    }

    function submitHandler() {
        if ($.validate.form()) {
            var data = serializeFormToJson('form-times-recharge');
            var giveItems = [];
            $("input[name='giveItemId']:checked").each(function(i,item){
                var giveItem = {};
                giveItem.memberId = memberId;
                var giveItemId = item.value;
                giveItem.itemId = giveItemId;
                giveItem.giveTimes = $('#giveItemId'+giveItemId).val();
                giveItems.push(giveItem);
            });
            if (giveItems.length > 0) {
                data.giveItemRecords = giveItems;
            }
            $.ajax({
                type: "post",
                url: ctx + "salon/member/timesRecharge",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json",
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                    $.modal.disable();
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.successCallback(result);
                }
            });
        }
    }
</script>
</body>
</html>