<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!--<meta charset="utf-8">-->
    <th:block th:include="include :: header('余额消费记录')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>

<body th:fragment="balanceConsumeRecord">
<div class="ui-layout-center" >
    <div class="container-div">
        <div class="row">
            <!--检索栏-->
            <div class="col-sm-12 search-collapse">
                <form id="balance_consume_record_search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                会员编号：<input type="text" name="memberId" th:value="${memberId}" readonly th:if="${memberId != null}"/>
                                <input type="text" name="memberId"  th:if="${memberId == null}"/>
                            </li>
                            <li th:if="${memberId == null}">
                                会员名称：<input type="text" name="memberName"/>
                            </li>
                            <li th:if="${memberId == null}">
                                手机号码：<input type="text" name="mobileNo"/>
                            </li>
                            <li>
                                <label>项目：</label><select name="itemId" >
                                <option value="">所有</option>
                                <option th:each="item :${items}" th:text="${item.itemName}" th:value="${item.itemId}"></option>
                            </select>
                            </li>
                            <li>
                                <label>消费日期： </label>
                                <input type="text" class="time-input" id="startTime1" placeholder="开始日期"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime1" placeholder="结束日期"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick=balanceConsumeRecordSearch();><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm"
                                   onclick="$.form.reset('balance_consume_record_search_form')"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!--表格-->
            <div class="col-sm-12 select-table table-striped">
                <table id="balance-consume-record-table"></table>
            </div>
        </div>
    </div>
</div   >

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    /*var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];*/

    var editFlag = [['']];
    var removeFlag = [['']];
    var viewFlag = [['']];

    $(function () {
        queryBalanceConsumeRecordList();
    });

    function queryBalanceConsumeRecordList() {
        var prefix = ctx + "salon/balanceConsumeRecord";
        var options = {
            id: 'balance-consume-record-table',
            formId: 'balance_consume_record_search_form',
            url: prefix + "/list",
            viewUrl: prefix + "/view/{id}",
            removeUrl: prefix + "/remove",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            // sortName: "createTime",
            // sortOrder: "desc",
            modalName: "余额消费记录",
            queryParams: BalanceConsumeRecordQueryParams,
            columns: [{
                field: 'balanceConsumeRecordId',
                title: '记录编号'
            },
                {
                    field: 'memberId',
                    title: '会员编号'
                },
                {
                    field: 'memberName',
                    title: '会员名称',
                },
                {
                    field: 'mobileNo',
                    title: '手机号码'
                },
                {
                    field: 'itemName',
                    title: '项目名称'
                },
                {
                    field: 'consumeAmount',
                    title: '消费金额'
                },
                {
                    field: 'balanceAfter',
                    title: '剩余充值余额'
                },
                {
                    field: 'giveBalanceAfter',
                    title: '剩余赠送金额'
                },
                {
                    field: 'consumeDate',
                    title: '消费日期'
                },
                {
                    field: 'operator',
                    title: '操作人'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.view(\'' + row.balanceConsumeRecordId + '\')"><i class="fa fa-search"></i>详情</a> ');
                        //  var more = [];
                        // more.push("<a class='btn btn-success btn-xs " + editFlag + "' href='javascript:void(0)' onclick='$.operate.editTab(" + row.memberId + ")'><i class='fa fa-edit'></i>编辑</a> ");
                        //  more.push("<a class='btn btn-danger btn-xs " + removeFlag + "' href='javascript:void(0)' onclick='$.operate.remove(" + row.memberId + ")'><i class='fa fa-remove'></i>删除</a> ");
                        // actions.push('<a tabindex="0" class="btn btn-warning btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    function BalanceConsumeRecordQueryParams(params) {
        var search = $.table.queryParams(params);
        search.beginTime=beginOfTime($("#startTime1").val());
        search.endTime=endOfTime($("#endTime1").val());
        return search;
    }

    function balanceConsumeRecordSearch() {
        table.set('balance-consume-record-table');
        $.table.search('balance_consume_record_search_form');
    }
</script>
</body>
</html>
