<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <!--<meta charset="utf-8">-->
    <th:block th:include="include :: header('充次记录')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>

<body>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <!--检索栏-->
            <div class="col-sm-12 search-collapse">
                <form id="record_search_form">
                    <div class="select-list">
                        <ul>
                            <li>
                                会员编号：<input type="text" name="memberId"/>
                            </li>
                            <li>
                                会员名称：<input type="text" name="memberName"/>
                            </li>
                            <li>
                                手机号码：<input type="text" name="mobileNo"/>
                            </li>
                            <li>
                                <label>项目：</label><select name="itemId" >
                                <option value="">所有</option>
                                <option th:each="item :${items}" th:text="${item.itemName}" th:value="${item.itemId}"></option>
                            </select>
                            </li>
                            <li>
                                <label>充值日期： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始日期"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束日期"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm"
                                   onclick="$.form.reset(null, record_search_form)"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!--表格-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var prefix = ctx + "salon/timesRechargeRecord";
    /*var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];*/

    var editFlag = [['']];
    var removeFlag = [['']];
    var viewFlag = [['']];
    var payModes = [[${@dict.getType('salon_pay_mode')}]];

    $(function () {
        queryRecordList();
    });

    function queryRecordList() {
        var options = {
            url: prefix + "/list",
            viewUrl: prefix + "/view/{id}",
            removeUrl: prefix + "/remove",
            importUrl: prefix + "/importData",
            importTemplateUrl: prefix + "/importTemplate",
            // sortName: "createTime",
            // sortOrder: "desc",
            modalName: "充次记录",
            queryParams: queryParams,
            columns: [{
                checkbox: false
            }, {
                field: 'timesRechargeRecordId',
                title: '记录编号'
            },
                {
                    field: 'memberId',
                    title: '会员编号'
                },
                {
                    field: 'memberName',
                    title: '会员名称',
                },
                {
                    field: 'mobileNo',
                    title: '手机号码'
                },
                {
                    field: 'itemName',
                    title: '项目名称'
                },
                {
                    field: 'rechargeTimes',
                    title: '充值次数'
                },
                {
                    field: 'rechargeAmount',
                    title: '充值金额'
                },
                {
                    field: 'giveAmount',
                    title: '赠送金额'
                },
                {
                    field: 'payMode',
                    title: '支付方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payModes, value);
                    }
                },
                {
                    field: 'activityName',
                    title: '活动名称'
                },
                {
                    field: 'rechargeTime',
                    title: '充值时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + viewFlag + '" href="javascript:void(0)" onclick="$.operate.view(\'' + row.timesRechargeRecordId + '\')"><i class="fa fa-edit"></i>详情</a> ');
                        //  var more = [];
                        // more.push("<a class='btn btn-success btn-xs " + editFlag + "' href='javascript:void(0)' onclick='$.operate.editTab(" + row.memberId + ")'><i class='fa fa-edit'></i>编辑</a> ");
                        //  more.push("<a class='btn btn-danger btn-xs " + removeFlag + "' href='javascript:void(0)' onclick='$.operate.remove(" + row.memberId + ")'><i class='fa fa-remove'></i>删除</a> ");
                        // actions.push('<a tabindex="0" class="btn btn-warning btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

    }

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search.beginTime=beginOfTime($("#startTime").val());
        search.endTime=endOfTime($("#endTime").val());
        return search;
    }
</script>
</body>
</html>
