<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增项目')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-memeber-add" class="form-horizontal">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">项目姓名：</label>
                        <div class="col-sm-8">
                            <input name="itemName" placeholder="请输入项目姓名" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">项目描述：</label>
                        <div class="col-sm-8">
                            <input name="description" class="form-control" type="text" maxlength="100" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">项目价格：</label>
                        <div class="col-sm-8">
                            <input name="price" value="0" class="form-control" type="number" min="0" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">折扣价格：</label>
                        <div class="col-sm-8">
                            <input name="discountedPrice" value="0" class="form-control" type="number" min="0" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script>
	    var prefix = ctx + "salon/item";
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form-memeber-add").serializeArray();
	        	$.operate.saveTab(prefix + "/add", data);
	        }
	    }

    </script>
</body>
</html>