<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('项目详细')" />
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" th:object="${item}">
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">项目ID：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{itemId}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">项目名称：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{itemName}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">项目价格：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{price}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">折扣价格：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{discountedPrice}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">描述：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{description}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建时间：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{#temporals.format(createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">创建人：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{createBy}"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">修改人：</label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext" th:text="*{updateBy}"></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
</body>
</html>