<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.salon.mapper.BalanceRechargeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.salon.domain.entity.BalanceRechargeRecord">
        <id column="balance_recharge_record_id" property="balanceRechargeRecordId" />
        <result column="member_id" property="memberId" />
        <result column="recharge_amount" property="rechargeAmount" />
        <result column="give_amount" property="giveAmount" />
        <result column="activity_name" property="activityName" />
        <result column="recharge_time" property="rechargeTime" />
        <result column="pay_mode" property="payMode" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        balance_recharge_record_id, member_id, recharge_amount, give_amount, activity_name, recharge_time, pay_mode, remark, del_flag, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectList" resultType="com.ruoyi.salon.domain.vo.BalanceRechargeRecordVo">
        select t.balance_recharge_record_id,
               t.member_id,
               t.recharge_amount,
               t.give_amount,
               t.activity_name,
               t.recharge_time,
               t.pay_mode,
               h.member_name,
               h.mobile_no
        from t_balance_recharge_record t
                 left join t_member h on t.member_id = h.member_id and h.del_flag = '0' and t.del_flag = '0'
        where
            t.del_flag = '0'
            and h.del_flag = '0'
            <if test="memberId != null">
                and  t.member_id = #{memberId}
            </if>
            <if test="memberName != null and memberName != ''">
                and  h.member_name like concat('%', #{memberName})
            </if>
            <if test="mobileNo != null and mobileNo != ''">
                and  h.mobile_no = #{mobileNo}
            </if>
            <if test="beginTime != null and endTime != null">
                and t.recharge_time BETWEEN #{beginTime} and #{endTime}
            </if>
        order by t.balance_recharge_record_id desc
        </select>
</mapper>
