<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.salon.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.salon.domain.entity.Member">
        <id column="member_id" property="memberId" />
        <result column="member_name" property="memberName" />
        <result column="email" property="email" />
        <result column="mobile_no" property="mobileNo" />
        <result column="gender" property="gender" />
        <result column="recharge_balance" property="rechargeBalance" />
        <result column="give_balance" property="giveBalance" />
        <result column="integral" property="integral" />
        <result column="level" property="level" />
        <result column="label" property="label" />
        <result column="introducer" property="introducer" />
        <result column="remark" property="remark" />
        <result column="last_custom_date" property="lastCustomDate" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        member_id, member_name, email, mobile_no, gender, recharge_balance, give_balance, integral, level, label, introducer, remark, last_custom_date,del_flag, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectByIdWithLock" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
            from t_member
        where member_id = #{memeberId}
    </select>
</mapper>
