<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.salon.mapper.TimesRechargeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.salon.domain.entity.TimesRechargeRecord">
        <id column="times_recharge_record_id" property="timesRechargeRecordId" />
        <result column="member_id" property="memberId" />
        <result column="item_id" property="itemId" />
        <result column="recharge_times" property="rechargeTimes" />
        <result column="recharge_amount" property="rechargeAmount" />
        <result column="give_amount" property="giveAmount" />
        <result column="activity_name" property="activityName" />
        <result column="recharge_time" property="rechargeTime" />
        <result column="pay_mode" property="payMode" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        times_recharge_record_id, member_id, item_id, recharge_times, recharge_amount, give_amount, activity_name, recharge_time, pay_mode, remark, del_flag, create_by, create_time, update_by, update_time
    </sql>

    <select id="selectList" resultType="com.ruoyi.salon.domain.vo.TimesRechargeRecordVo">
        select t.times_recharge_record_id, t.member_id, t.item_id,t.recharge_times,
        t.recharge_amount,t.give_amount,t.activity_name,t.recharge_time,
        t.pay_mode,t.remark,h.member_name, h.mobile_no,i.item_name
        from t_times_recharge_record t
        left join t_member h on t.member_id = h.member_id and t.del_flag = '0' and h.del_flag = '0'
        left join t_item i on t.item_id = i.item_id and t.del_flag = '0' and i.del_flag = '0'
        where
        t.del_flag = '0'
        and h.del_flag = '0'
        <if test="memberId != null">
            and t.member_id = #{memberId}
        </if>
        <if test="itemId != null">
            and t.item_id = #{itemId}
        </if>
        <if test="mobileNo != null and mobileNo != ''">
            and h.mobile_no = #{mobileNo}
        </if>
        <if test="memberName != null and memberName != ''">
            and h.member_name like concat(#{memberName}, '%')
        </if>
        <if test="beginTime != null and endTime != null">
            and t.recharge_time BETWEEN #{beginTime} and #{endTime}
        </if>
        order by t.times_recharge_record_id desc
    </select>
</mapper>
